---
import "../styles/global.css";
---

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Christian Cinesi | Junior Web Developer</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body class="bg-charcoal text-white min-h-screen">

	<!-- Navbar -->
	<header class="bg-blackened p-4">

		<div class="max-w-7xl mx-auto flex justify-between items-center">
			<div class="text-white font-bold">Christian Cinesi</div>

			<!-- Desktop Nav -->
			<nav class="lg:flex space-x-4 hidden">
				<a href="#about" class="btn-primary">About</a>
				<a href="#contact" class="btn-primary">Contact me</a>
			</nav>

			<!-- Mobile: Hamburger -->
			<button id="menu-toggle" class="text-white lg:hidden">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
				</svg>
			</button>
		</div>

		<!-- Mobile Menu -->
		<nav id="mobile-menu" class="flex-col space-y-2 px-4 pb-4 lg:hidden opacity-0 max-h-0 overflow-hidden transition-opacity transition-max-height duration-300 ease-in-out">
			<a href="#about" class="btn-primary block text-center mt-6">About</a>
			<a href="#contact" class="btn-primary block text-center">Contact me</a>
		</nav>

	</header>

	<!-- Main content -->
	<main>
		<slot />
	</main>

	<!-- Footer -->
	<footer class="bg-blackened p-4 text-center">
		<p>&copy; 2025 Christian Cinesi. All rights reserved.</p>
	</footer>

</body>

</html>

<script is:inline>
	const toggle = document.getElementById('menu-toggle');
	const mobileMenu = document.getElementById('mobile-menu');

	toggle.addEventListener('click', () => {
		mobileMenu.classList.toggle('opacity-0');
		mobileMenu.classList.toggle('max-h-0');
		mobileMenu.classList.toggle('opacity-100');
		mobileMenu.classList.toggle('max-h-96');
	});
</script>